header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 5rem;

  background: var(--header-background);
  box-shadow: 0 1px 8px 3px rgb(0, 0, 0, 0.05);
}

header .logo {
  width: 18rem;
  height: auto;
}